@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 62.5%;
    background: #6B8A7A;
}

ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    transition: color .3s;
}
a:hover {
    color: #254336;
}

button {
    cursor: pointer;
    border: none;
    background: #254336;
    border-color: #254336;
    color: #fff;
    border-radius: 3px;
}
