.mainSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainSection > h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
}
.mainSection > p {
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 2rem;
}
.mainSection > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
}
